.container {
  display: flex;
  padding: 0 35%;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.formField {
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px 20px;
  border: 3px solid #c4c4c4;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
}

.error {
  color: #ff6347;
  font-size: 14px;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  min-height: 40px;
  padding: 10px;
  position: relative;
  border: none;
  border-radius: 7px;
  background-color: #5e7bc7;
  color: #fff;
  font-family: Mont;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

.submitBtn:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 20%;
  }
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 1.5rem;
  }

  .input {
    font-size: 1rem;
  }

  .submitBtn {
    font-size: 1rem;
  }

  .registerLink {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 10%;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  .input {
    font-size: 1rem;
  }

  .submitBtn {
    font-size: 1rem;
  }
}
