.modalContainer {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #fff;
  box-shadow: 0px 4px 14px 0px #2c2c2c17;
  padding: 20px;
  border-radius: 10px;
  z-index: 400;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.infoContainer h2 {
  font-family: Mont;
  font-weight: 800;
  font-size: 24px;
  line-height: 132%;
  letter-spacing: 0%;
  color: #405f7b;
}

.infoContainer p {
  font-family: Mont;
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0%;
  color: #405f7b;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  .modalContainer {
    top: 30px;
    right: 30px;
  }

  .infoContainer h2 {
    font-size: 20px;
  }

  .infoContainer p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .modalContainer {
    top: 10px;
    right: 10px;
  }

  .infoContainer h2 {
    font-size: 16px;
  }

  .infoContainer p {
    font-size: 10px;
  }
}
