.toastContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.toast {
  padding: 12px 16px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.success {
  background-color: #4bff8d;
}

.error {
  background-color: #ff6347;
}
